/* Empty. Add your own CSS if you like */
body, html {
  width: 100%;
  height: 100%;
}
.center {
  text-align: center;
}

.logo {
  padding-top: 20px;
}

.home {
  height: 100%;
  width: 100%;
  background-color: #F4F4F4;
}

.inline-radio, .evacueeStepButton {
  display: inline-block;
}

.autocomplete ul {
  z-index: 100;
}

#evacueeID {
  background-color: #f5f5f5;
  font-weight: bold;
}

/* temp fix */
/*.item-divider {
  background-color: #D3D3D3;
  font-weight: bold;
}

.item {
  margin: -2.4px;
}

.col {
  padding: 0px;
}

.bar-footer .tabs-positive .tab-nav {
  top: 0px;
}

.bar-footer {
  padding: 0px;
}*/

.clearBootstrap, .button.button-block.clearMargin {
  margin: 0;
}

.home .list {
  background-color: inherit;
}
