ion-view
  ion-content.center
    //- .row.clearBootstrap
      //- .col
        //- a.button.button-block.clearMargin {{transport}}
    .item
      select.form-control
        option(ng-repeat='transport in transports track by $index') {{transport.name}}
      //- a.button.button-block.clearMargin {{transport}}
    //- .row.clearBootstrap
    //-   .col
    //-     code-scan(data-class='button button-block button-calm clearMargin')
    .item
      code-scan(data-class='button button-block button-calm clearMargin')
    form
      .item.item-input.inset.row.clearBootstrap
        label.item-input.wrapper.col.col-75
          input(type='number', ng-model='scanner.code', placeholder='Bracelet ID' required)
        a.button.button-calm.col(on-tap='manualCheckin()') Add
    ion-list
      ion-item(collection-repeat='scanData in scanDatas track by $index')
        .row.clearBootstrap
          .col.col-50 {{scanData.text}}
          .col.col-50 {{scanData.format}}
