ion-view
  ion-content.center
    .row.clearBootstrap
      .col
        code-scan
    form
      .item.item-input.inset.row.clearBootstrap
        label.item-input.wrapper.col.col-75
          input(type='number', ng-model='evacuee.code', placeholder='Bracelet ID' required)
        a.button.button-energized.col(on-tap='manualCheckin()') Add
    ion-list
      ion-item(collection-repeat='scanData in scanDatas track by $index')
        .row.clearBootstrap
          .col.col-50 {{scanData.text}}
          .col.col-50 {{scanData.format}}
