ion-view
  ion-content
    form.form-horizontal(ng-submit='submitEvacuee()')
      ng-switch(on='selection.step')
        div(ng-switch-when='step1')
          tabset#evacueeID
            tab(heading='PP')
              .list
                label.item.item-input
                  input(type='text', ng-model='evacuee.passport', placeholder='Passport ID')
            tab(heading='DL')
              .list
                label.item.item-input
                  input(type='text', ng-model='evacuee.driverLic', placeholder='Driver License')
            tab(heading='SSN')
              .list
                label.item.item-input
                  input(type='text', ng-model='evacuee.ssn', placeholder='SSN #')
          .list
            .item.item-divider Evacuee Info
            label.item.item-input
              input(type='text', ng-model='evacuee.firstName', placeholder='First Name')
            label.item.item-input
              input(type='text', ng-model='evacuee.middleName', placeholder='Middle Name')
            label.item.item-input
              input(type='text', ng-model='evacuee.lastName', placeholder='Last Name')
            label.item.item-input
              input(type='text', ng-model='evacuee.dob', placeholder='Date of Birth', pick-a-date='date', pick-a-date-options='dateOptions')
            .item.item-divider Gender
            ion-radio.col.col-50.inline-radio(value='Male', ng-model='evacuee.gender', name='gender') 
              i.ion-male &nbsp;Male
            ion-radio.col.col-50.inline-radio(value='Female', ng-model='evacuee.gender', name='gender')
              i.ion-female &nbsp;Female
        div(ng-switch-when='step2')
          .list
            .item.item-divider Nationality
            autocomplete.list-group-item(ng-model='evacuee.nationality', data='nationalities', attr-placeholder='Select a Nationality', ng-init='evacuee.nationality="American"')
            .item.item-divider Major Category
            ion-radio.col.col-50.inline-radio(value='US Citizen', ng-model='evacuee.majorCategory', ng-init='evacuee.majorCategory="US Citizen"', name='majorCategory') US Citizen
            ion-radio.col.col-50.inline-radio(value='Alien', ng-model='evacuee.majorCategory', name='majorCategory') Alien
            ion-radio.col.col-50.inline-radio(value='Other', ng-model='evacuee.majorCategory', name='majorCategory') Other
            .item.item-divider Minor Category
            ion-checkbox(value='Pregnant Woman', ng-model='evacuee.minorCategory.pregnant') Pregnant
            ion-checkbox(value='Under 18', ng-model='evacuee.minorCategory.under') Under 18
        div(ng-switch-when='step3')
          .list
            .item.item-divider Military Satus
            ion-radio(value='No DoD Afflicate', ng-model='evacuee.militaryAfflicated', ng-init='evacuee.militaryAfflicated="No DoD Afflicate"', name='militaryAfflicated') No DoD Afflicate
            ion-radio(value='Army', ng-model='evacuee.militaryAfflicated', name='militaryAfflicated') Army
            ion-radio(value='Navy', ng-model='evacuee.militaryAfflicated', name='militaryAfflicated') Navy
            ion-radio(value='Air Force', ng-model='evacuee.militaryAfflicated', name='militaryAfflicated') Air Force
            ion-radio(value='DoD Civilian', ng-model='evacuee.militaryAfflicated', name='militaryAfflicated') DoD Civilian
        div(ng-switch-when='step4')
          .list
            .item.item-divider Blood Type
            ion-radio.col.col-50.inline-radio(value='A', ng-model='evacuee.bloodType', name='bloodType') A
            ion-radio.col.col-50.inline-radio(value='B', ng-model='evacuee.bloodType', name='bloodType') B
            ion-radio.col.col-50.inline-radio(value='AB', ng-model='evacuee.bloodType', name='bloodType') AB
            ion-radio.col.col-50.inline-radio(value='O', ng-model='evacuee.bloodType', name='bloodType') O
            .item.item-divider Others
            label.item.item-input
              input(type='number', ng-model='evacuee.weight', min=1, placeholder='Your Weight')
              span.input-label lb 
            label.item.item-input
              textarea(placeholder='Special Neeeds', ng-model='evacuee.specialNeeds')
        div(ng-switch-when='step5')
          .list
            .item.item-divider Bracelet
            .button.center.
      .clearfix
      ul.padding
        li.pull-left
          a.button.icon-left.ion-chevron-left.button-stable(ng-click='decrementStep()', ng-class='{disabled: !hasPreviousStep()}', class='') Previous
        li.pull-right
          a.button.icon-right.ion-chevron-right.button-stable(ng-click='incrementStep()', ng-class='{disabled: !hasNextStep()}', class='', ng-hide='!hasNextStep()') Next
          a.button.icon-right.ion-checkmark-round.button-balanced(ng-hide='hasNextStep()', type='submit') Finish
