ion-view
  ion-content
    div.home
      div.center.logo
        span.fa.fa-binoculars.fa-rotate-90.fa-5x.fa-spin
      .list.list-inset
        label.item.item-input
          input(type='text', placeholder='Username')
        label.item.item-input
          input(type='password', placeholder='Password')
        a.button.button-block.button-positive(href='#/dashboard') Login
