ion-view
  ion-content#login
    div.home
      div.center.logo
        span.fa.fa-binoculars.fa-rotate-90.fa-5x.fa-spin
      .list.list-inset
        alert(type='danger', ng-show='loginError') Invalid Username / Password
        label.item.item-input
          input(type='text', placeholder='Username', ng-model='user.username', required)
        label.item.item-input
          input(type='password', placeholder='Password', ng-model='user.password', required)
        a.button.button-block.button-positive(on-tap='login(user.username, user.password)') Login
