ion-tabs.tabs-icon-only.tabs-positive
  ion-tab(title='Evacuee', icon='ion-person-add', href='#/tab/evacuee/step1')
    ion-nav-view(name='evacuee-tab')
  ion-tab(title='Check-In', icon='ion-qr-scanner', href='#/tab/check-in')
    ion-nav-view(name='checkin-tab')
  ion-tab(title='Search', icon='ion-search', href='#/tab/evacuee.search')
    ion-nav-view(name='search-tab')
  ion-tab(title='Menu', icon='ion-home', href='#/dashboard')
