
<ion-header-bar align-title="center" class="bar-positive">
  <div class="title"><span class="fa fa-binoculars fa-rotate-90 fa-spin"></span><strong></strong>&nbsp;Dr. Track</div>
</ion-header-bar>
<ion-content class="center">
  <ion-list>
    <ion-item ng-repeat="dashboardOption in dashboardOptions track by $index">{{dashboardOption}}</ion-item>
  </ion-list>
</ion-content>
<ion-footer-bar align-title="center" class="bar-positive">
  <div class="title">Dashboard</div>
</ion-footer-bar>
<!--
.bar.bar-header
  .title
    span.fa.fa-binoculars.fa-rotate-90.fa-spin
    strong
    | &nbsp;Dr. Track
.dashboard
  .list.list-inset.center.content.has-header
    .item(ng-repeat='dashboardOption in dashboardOptions track by $index') {{dashboardOption}}
.bar.bar-footer.bar-balanced
  .title Dashboard
-->