
<ion-header-bar align-title="center" class="bar-positive"><strong class="title">{{selection.title}}</strong></ion-header-bar>
<ion-content>
  <form class="form-horizontal">
    <ng-switch on="selection.step">
      <div ng-switch-when="step1">
        <tabset>
          <tab heading="PP">
            <div class="list">
              <label class="item item-input">
                <input type="text" ng-model="evacuee.passport" placeholder="Passport ID"/>
              </label>
            </div>
          </tab>
          <tab heading="DL">
            <div class="list">
              <label class="item item-input">
                <input type="text" ng-model="evacuee.driverLic" placeholder="Driver License"/>
              </label>
            </div>
          </tab>
          <tab heading="SSN">
            <div class="list">
              <label class="item item-input">
                <input type="text" ng-model="evacuee.ssn" placeholder="SSN #"/>
              </label>
            </div>
          </tab>
        </tabset>
        <div class="list">
          <label class="item item-input">
            <input type="text" ng-model="evacuee.firstName" placeholder="First Name"/>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="evacuee.middleName" placeholder="Middle Name"/>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="evacuee.lastName" placeholder="Last Name"/>
          </label>
          <label class="item item-input">
            <input type="text" ng-model="evacuee.dob" placeholder="Date of Birth" pick-a-date="date" pick-a-date-options="dateOptions"/>
          </label>
          <ion-radio value="Male" ng-model="evacuee.gender" class="col col-50 gender">Male</ion-radio>
          <ion-radio value="Female" ng-model="evacuee.gender" class="col col-50 gender">Female</ion-radio>
        </div>
      </div>
      <div ng-switch-when="step2"><span>I'm here</span></div>
    </ng-switch>
    <div class="clearfix"></div>
    <ul class="padding">
      <li class="pull-left"><a ng-click="decrementStep()" ng-class="{disabled: !hasPreviousStep()}" class="button icon-left ion-chevron-left button-stable">Previous</a></li>
      <li class="pull-right"><a ng-click="incrementStep()" ng-class="{diabled: !hasNextStep()}" class="button icon-right ion-chevron-right button-stable">Next</a></li>
    </ul>
  </form>
</ion-content>
<ion-footer-bar class="bar-positive"></ion-footer-bar>