ion-view
  ion-header-bar.bar-positive(align-title='center')
    .buttons
      a.button(href='#/tab/evacuee/step1') Back
    .title Evacuee
    .buttons
      a.button(href='#/tab/evacuee/step3') Next
  ion-content
    .list
      .item.item-divider Nationality
      div(mass-autocomplete)
        label.item.item-input
          input(mass-autocomplete-item='autocomplete_options', ng-model='evacuee.nationality', type='text', placeholder='Select a Nationality')
      .item.item-divider Major Category
      ion-radio.col.col-50.inline-radio(value='US Citizen', ng-model='evacuee.majorCategory', name='majorCategory') US Citizen
      ion-radio.col.col-50.inline-radio(value='Alien', ng-model='evacuee.majorCategory', name='majorCategory') Alien
      ion-radio.col.col-50.inline-radio(value='Other', ng-model='evacuee.majorCategory', name='majorCategory') Other
      .item.item-divider Minor Category
      ion-checkbox(value='Pregnant Woman', ng-model='evacuee.minorCategory.pregnant') Pregnant
      ion-checkbox(value='Under 18', ng-model='evacuee.minorCategory.under18') Under 18
