ion-view
  ion-header-bar.bar-positive(align-title='center')
    .buttons
      a.button(on-tap='clearEvacuee()') Clear
    .title Evacuee
    .buttons
      a.button(href='#/tab/evacuee/step2') Next
  ion-content
    form.clearBootstrap(name='formStep1', novalidate)
      tabset#evacueeID
        tab(heading='PP')
          .list
            label.item.item-input
              input(type='text', ng-model='evacuee.passport', placeholder='Passport ID', ng-blur='validateEvacuee()')
        tab(heading='DL')
          .list
            label.item.item-input
              input(type='text', ng-model='evacuee.driverLic', placeholder='Driver License', ng-blur='validateEvacuee()')
        tab(heading='SSN')
          .list
            label.item.item-input
              input(type='text', ng-model='evacuee.ssn', placeholder='SSN #', ng-blur='validateEvacuee()')
      .list
        .item.item-divider Evacuee Info
        label.item.item-input
          input(type='text', ng-model='evacuee.firstName', placeholder='First Name', required)
        label.item.item-input
          input(type='text', ng-model='evacuee.middleName', placeholder='Middle Name')
        label.item.item-input
          input(type='text', ng-model='evacuee.lastName', placeholder='Last Name', required)
        label.item.item-input
          span.input-label Date of Birth
          input(type='date', ng-model='evacuee.dob', required)
        .item.item-divider Gender
        ion-radio.col.col-50.inline-radio(value='Male', ng-model='evacuee.gender', name='gender', required) 
          i.ion-male &nbsp;Male
        ion-radio.col.col-50.inline-radio(value='Female', ng-model='evacuee.gender', name='gender', required)
          i.ion-female &nbsp;Female
