ion-view
  ion-nav-bar
    ion-nav-back-button
  ion-content
    ion-list
      ion-item(collection-repeat='person in results')
        | {{person.name}}
        ion-option-button.ion-edit(on-tap='edit()') &nbsp;Edit
