ion-view
  ion-header-bar.bar-positive(align-title='center')
    .buttons
      a.button.ion-chevron-left(href='#/tab/search/step1') &nbsp;Back
    .title Search
  ion-content
    ion-list
      ion-item(collection-repeat='result in results track by $index', href='#/tab/evacuee/step1', on-tap='setEvacuee(result)')
        | {{result.firstName}} {{result.lastName}}
        ion-option-button.button-assertive.ion-ios-trash-outline(on-tap='delete()') &nbsp;Delete
